body {
  background-color: rgb(218, 18, 18);
 margin: Top: 0px;
Right: 0px;
}




h2{
  text-align: center;
  color: white;
  font-size: 24px;
}

input[type=text]{
  padding: 10px;
}



.contact-form {
width: 150px;
background-color: rgb(8, 8, 8);
text-align: right;
padding: 10px;
font-size: comic sans;
Color: White 
Size: 24 pixels 
}



h1,
h2,
h3 {
  margin: 0;
  color: rgb(1, 5, 10)
  align-content: center;
}
.homepage-link {
  color: blue;
  text-align: center;
  display: block;
}
